{% extends 'dbApp/navigation_bar.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
     <h2 class="sub-header">추가하기</h2>
    <div class="container">
        <button class="form-button btn btn-circle btn-danger">SERVER</button>
        <button class="form-button btn btn-circle btn-warning">SWITCH</button>
        <button class="form-button btn btn-circle btn-primary">STORAGE</button>
        <button class="form-button btn btn-circle btn-success">RACK</button>
        <button class="form-button btn btn-circle btn-default">SERVICE</button>
    </div>
</div>
{% endblock content %}
