{% extends 'dbApp/navigation_bar.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h2 class="page-header">추가하기</h2>
        <div class="container">
             <a href="{% url 'add' add_type="asset"%}">
                <button class="form-button btn btn-circle btn-danger unselected" id="asset" name="asset" type="submit">ASSET</button>
            </a>
            <a href="{% url 'add' add_type="service"%}">
                <button class="form-button btn btn-circle btn-default" id="service" name="service" type="submit">SERVICE</button>
            </a>
        </div>
        <div class="container">
            <h2 class="sub-header">서비스 정보</h2>
            <form class="form-horizontal" method="post" action="{%  url 'add' add_type="service"%}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="service_name">서비스명</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="service_name" type="text" name="service_name" placeholder="서비스명을 입력하세요. 예)Alice">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="service_make_date">서비스 생성일</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="service_make_date" type="date" name="service_make_date" placeholder="서비스 생성일">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="service_usage">용도</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="service_usage" type="text" name="service_usage" placeholder="서비스 용도">
                    </div>
                </div>
                    <div class="form-group">
                    <label class="col-sm-3 control-label" for="service_color">색깔</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="service_color" type="color" name="service_color" placeholder="서비스 표현 색">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" type="submit">등록하기<i class="fa fa-check spaceLeft"></i></button>
                        <button class="btn btn-danger" type="submit">취소<i class="fa fa-times spaceLeft"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock content %}