{% extends 'dbApp/navigation_bar.html' %}
{% load staticfiles %}

{% block content %}
    <script>
        $(document).ready(function(){
            $(".btn-circle").click(function(){
                var unselected = $(this).hasClass("unselected");
                var type = $(this).attr("target");
                if(unselected){
                    $("#"+type).show(1234);
                    $(this).removeClass("unselected");
                } else {
                    $("#" + type).hide(1234);
                    $(this).addClass("unselected");
                }
            });
        });
    </script>
    <div class="container">
        <h2 class="page-header">추가하기</h2>
        <div class="container">
            <a href="{% url 'add' add_type="asset"%}">
                <button class="form-button btn btn-circle btn-danger" id="asset" name="asset" type="submit">ASSET</button>
            </a>
            <a href="{% url 'add' add_type="service"%}">
                <button class="form-button btn btn-circle btn-default unselected" id="service" name="service" type="submit">SERVICE</button>
            </a>
        </div>
        <div class="container">
            <h2 class="sub-header">자산 정보</h2>
            <form class="form-horizontal" method="post" action="{%  url 'add' add_type="asset"%}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="assetName">자산명</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="assetName" type="text" name="assetName" placeholder="자산명을 입력하세요. 예)서버">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="acquisitionDate">취득일</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="acquisitionDate" type="date" name="acquisitionDate" placeholder="취득일자">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="standard">규격</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="standard" type="text" name="standard" placeholder="규격을 입력하세요. 예)Hitachi VSP Hardware">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="acquisitionCost">취득원가</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="acquisitionCost" type="number" name="acquisitionCost" placeholder="취득원가를 입력하세요.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="acquisitionLocation">구입처</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="acquisitionLocation" type="text" name="acquisitionLocation" placeholder="구입처를 입력하세요.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="maintenanceYear">내용연수</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="maintenanceYear" type="number" name="maintenanceYear" placeholder="내용연수를 입력하세요.">
                    </div>
                </div>
                <h2 class="sub-header">상세정보</h2>
                <div class="center-block add-buttons-container">
                    <p class="form-button btn btn-circle btn-danger unselected" target="server_spec">SERVER</p>
                    <p class="form-button btn btn-circle btn-warning unselected" target="switch_spec">SWITCH</p>
                    <p class="form-button btn btn-circle btn-primary unselected" target="storage_spec">STORAGE</p>
                    <p class="form-button btn btn-circle btn-success unselected" target="rack_spec">RACK</p>
                </div>

                <div class="container asset-spec" id="server_spec" >
                    <h2 class="sub-header">서버</h2>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="server_number">갯수</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="server_number" type="number" name="server_number" placeholder="자산의 갯수를 입력하세요.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="server_size">사이즈</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="server_size" type="number" name="server_size" placeholder="사이즈">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="server_location">위치</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="server_location" type="text" name="server_location" placeholder="랙/기타 고르기..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="server_core_num">코어</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="server_core_num" type="number" name="server_core_num" placeholder="코어 갯수">
                        </div>
                    </div>
                </div>
                <div class="container asset-spec" id="switch_spec" >
                    <h2 class="sub-header">스위치</h2>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="switch_number">갯수</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="switch_number" type="number" name="switch_number" placeholder="자산의 갯수를 입력하세요.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="switch_size">사이즈</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="switch_size" type="number" name="switch_size" placeholder="사이즈">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="switch_location">위치</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="switch_location" type="text" name="switch_location" placeholder="랙/기타 고르기..">
                        </div>
                    </div>
                </div>
                <div class="container asset-spec" id="rack_spec" >
                    <h2 class="sub-header">랙</h2>
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="rack_number">갯수</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="rack_number" type="number" name="rack_number" placeholder="자산의 갯수를 입력하세요.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="rack_size">크기</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="rack_size" type="number" name="rack_size" placeholder="크기">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="rack_location">위치</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="rack_location" type="text" name="rack_location" placeholder="랙 위치">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" type="submit">등록하기<i class="fa fa-check spaceLeft"></i></button>
                        <button class="btn btn-danger" type="submit">취소<i class="fa fa-times spaceLeft"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}
