{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h1 class="page-header">자산번호 [ {{ asset_list.assetNum }} ] 의 상세 페이지입니다.</h1>
        {% if asset_server_list %}
            <h2 style="padding-bottom: 5px; margin: 40px 0 5px;">Server</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>관리스펙</th>
                        <th>위치</th>
                        <th>코어</th>
                        <th>IP</th>
                        <th>ON/OFF</th>
                        <th>Service</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in asset_server_list %}
                        <tr>
                            <td><a style="cursor:hand" data-toggle="modal" data-target="#"
                                            href="/dbApp/server/detail/?data={{ server.managenum }}">{{ server.managenum }}</a></td>
                            <td>{{ server.managespec }}</td>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ server.location }}</a></td>
                            <td>{{ server.core }}</td>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.use }}</td>
                            <td>{{ server.serviceName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if asset_switch_list %}
            <h2 style="padding-bottom: 5px; margin: 40px 0 5px;">Switch</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>관리스펙</th>
                        <th>위치</th>
                        <th>IP</th>
                        <th>ON/OFF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for switch in asset_switch_list %}
                        <tr>
                            <td><a style="cursor:hand" data-toggle="modal" data-target="#"
                                            href="/dbApp/switch/detail/?data={{ switch.manageNum }}">{{ switch.manageNum }}</a></td>
                            <td>{{ switch.manageSpec }}</td>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ switch.location }}</a></td>
                            <td>{{ switch.ip }}</td>
                            <td>{{ switch.onOff }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if asset_storage_list %}
            <h2 style="padding-bottom: 5px; margin: 40px 0 5px;">Storage</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>관리스펙</th>
                        <th>위치</th>
                        <th>IP</th>
                        <th>ON/OFF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for storage in asset_storage_list %}
                        <tr>
                            <td><a style="cursor:hand" data-toggle="modal" data-target="#"
                                            href="/dbApp/switch/detail/?data={{ storage.manageNum }}">{{ storage.manageNum }}</a></td>
                            <td>{{ storage.manageSpec }}</td>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ storage.location }}</a></td>
                            <td>{{ storage.ip }}</td>
                            <td>{{ storage.onOff }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}



        {% if asset_rack_list %}
            <h2 style="padding-bottom: 5px; margin: 40px 0 5px;">Rack</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>관리스펙</th>
                        <th>크기</th>
                        <th>위치</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rack in asset_rack_list %}
                        <tr>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ rack.manageNum }}</a></td>
                            <td>{{ rack.manageSpec }}</td>
                            <td>{{ rack.size }}</td>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ rack.location }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

{% endblock content %}