{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">ASSETS</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>취득일</th>
                    <th>자산명</th>
                    <th class="hitachi">규격</th>
                    <th>취득원가</th>
                    <th>구입처</th>
                    <th>내용연수</th>
                    <th>S</th>
                    <th>N</th>
                    <th>D</th>
                    <th>R</th>
                    <th>Total</th>
                    <th>수정</th>
                    <th>삭제</th>

                </tr>
                </thead>
                <tbody>
                {% if asset_total_list %}
                    {% for asset in asset_total_list %}
                        <tr id="asset-id-{{ asset.assetNum }}">
                            <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a style="cursor:hand"
                                                                                          onclick="td_click_detail_asset(this)">{{ asset.assetNum }}</a>
                            </td>
                            <td id="acq-date-{{ asset.assetNum }}">{{ asset.acquisitionDate }}</td>
                            <td id="name-{{ asset.assetNum }}">{{ asset.assetName }}</td>
                            <td id="standard-{{ asset.assetNum }}" class="hitachi">{{ asset.standard }}</td>
                            <td id="acq-cost-{{ asset.assetNum }}">{{ asset.acquisitionCost }}</td>
                            <td id="purchase-{{ asset.assetNum }}">{{ asset.purchaseLocation }}</td>
                            <td id="maintenance-{{ asset.assetNum }}">{{ asset.maintenanceYear }}</td>
                            <td>{{ asset.serverNum }}</td>
                            <td>{{ asset.switchNum }}</td>
                            <td>{{ asset.storageNum }}</td>
                            <td>{{ asset.rackNum }}</td>
                            <td>{{ asset.totalNum }}</td>
                            <td><a id="edit-button-{{ asset.assetNum }}" style="cursor:hand" onclick='td_click_edit("asset", {{ asset.assetNum }})'>수정</a>
                                <a hidden id="save-button-{{ asset.assetNum }}" style="cursor:hand" onclick='td_click_save("asset",{{ asset.assetNum }})'>저장</a>
                            </td>
                            <td><a style="cursor:hand" onclick="td_click_delete_asset({{ asset.assetNum }})">삭제</a></td>
                        </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}