{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">ASSETS</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>취득일</th>
                    <th>자산명</th>
                    <th>규격</th>
                    <th>취득원가</th>
                    <th>구입처</th>
                    <th>내용연수</th>
                    <th>S</th>
                    <th>N</th>
                    <th>D</th>
                    <th>R</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% if asset_total_list %}
                    {% for asset in asset_total_list %}
                        <tr >
                            <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')" ><a  onclick="td_click_detail_asset(this)">{{ asset.assetNum }}</a></td>
                            <td>{{ asset.acquisitionDate }}</td>
                            <td>{{ asset.assetName }}</td>
                            <td>{{ asset.standard }}</td>
                            <td>{{ asset.acquisitionCost }}</td>
                            <td>{{ asset.purchaseLocation }}</td>
                            <td>{{ asset.maintenanceYear }}</td>
                            <td>{{ asset.serverNum }}</td>
                            <td>{{ asset.switchNum }}</td>
                            <td>{{ asset.storageNum }}</td>
                            <td>{{ asset.rackNum }}</td>
                            <td>{{ asset.totalNum }}</td>
                        </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}