<html>
    <head>
        <title>site title</title>
        
        <script src="js/jquery-3.2.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
    </head>
    <body>
        <div class="container">
            <ul> 
                <li><a href="asset_total.html">Asset_total로 이동</a></li>
                <li><a href="server_asset.html">Server_asset으로 이동</a></li>
                <li><a href="switch_asset.html">Switch_asset으로 이동</a></li>
            </ul>
        </div>
    </body>
</html>