{% extends 'dbApp/navigation_bar.html' %}
{% load define %}
{% block head %}
    <script type="text/javascript">
		var fnPrint = function() {
		    var temp = document.body.innerHTML
			document.body.innerHTML = selectArea.innerHTML;
			window.print();
			document.body.innerHTML = temp
		};
	</script>

    <style type="text/css">
        .tb {
            text-align: center;
            float: left;
            margin: 5px;
            height: 100%;
            width: 400px;
        }

        .tb thead tr th {
            padding: 5px;
            text-align: center;
        }

        .tb td {
            padding: 5px;
        }

        .table-wrapper {
            text-align: center;
            display: inline-block;
        }
        .floating {
            background-color:#cccccc;
            border:2px solid #000;
            position: fixed;
            right: 50%;
            top: 180px;
            margin-right: -615px;
            text-align:center;
            width:70px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
         }
        .floating div:nth-child(1){
           border:2px solid #ff3535;
           border-radius: 8px;
        }
    </style>
{% endblock %}
{% block content %}

    <div style="width:200%; height:100%; overflow-x:scroll" id="selectArea">
        {% if rack_list %}
            {% for rack in data %}
                <div class="table-wrapper">
                    <h2>{{ rack.rack.name }} - <a
                            style="cursor:hand" onclick="td_click_detail_rack(this)">{{ rack.rack.id }}</a></h2>
                    <table border="1" class="tb">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ip</th>
                            <th>관리번호</th>
                            <th>관리스펙</th>
                        </tr>
                        </thead>
                        <tbody>
                        <script language="JavaScript">
                            <!--
                            var rackdatalist = JSON.parse('{{ rack.data|js}}');
                            var count = 0;
                            var racknum = 42;
                            var colorr;
                            for (var i in rackdatalist) {
                                if (rackdatalist[i] == null) {
                                    if (count == 0) {
                                        document.write("<tr>");
                                        document.write("<td>" + racknum.toString() + "</td>");
                                        document.write("<td></td>");
                                        document.write("<td></td>");
                                        document.write("<td></td>");
                                        document.write("</tr>");
                                    }
                                    else {
                                        document.write('<tr style="background-color:white; color:black">');
                                        document.write("<td>");
                                        document.write(racknum.toString());
                                        document.write("</td>");
                                        document.write("</tr>");
                                        count--;
                                    }
                                } else {
                                    var temp = rackdatalist[i].color;
                                    temp = temp.split(",");
                                    console.log(temp);
                                    console.log(rackdatalist[i].color)
                                    var sum = 0;
                                    for (j in temp) {
                                        sum += Number(temp[j]);
                                    }
                                    if (sum > 300) document.write('<tr style="background-color:rgb(' + rackdatalist[i].color + '); color:black">');
                                    else document.write('<tr style="background-color:rgb(' + rackdatalist[i].color + '); color:white">');
                                    document.write('<td style="background-color:white; color:black">');
                                    document.write(racknum.toString());
                                    document.write("</td>");
                                    if(rackdatalist[i].serviceName != null) {
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '" title="' + rackdatalist[i].serviceName + '">');
                                        document.write(rackdatalist[i].ip);
                                        document.write("</td>");
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '" title="' + rackdatalist[i].serviceName + '">');
                                        document.write(rackdatalist[i].manageNum);
                                        document.write("</td>");
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '" title="' + rackdatalist[i].serviceName + '">');
                                        document.write(rackdatalist[i].manageSpec);
                                        document.write("</td>");
                                    }
                                    else {
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '">');
                                        document.write(rackdatalist[i].ip);
                                        document.write("</td>");
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '">');
                                        document.write(rackdatalist[i].manageNum);
                                        document.write("</td>");
                                        document.write('<td  rowspan="' + rackdatalist[i].size.toString() + '">');
                                        document.write(rackdatalist[i].manageSpec);
                                        document.write("</td>");
                                    }
                                    count = rackdatalist[i].size - 1;
                                    colorr = rackdatalist[i].color;
                                }
                                racknum--;
                            }
                            //-->
                        </script>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>

     <div class="floating">
    <!--StartFragment--><a type="button" onclick="fnPrint()">프린트하기</a>
    </div>
{% endblock content %}