{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">RACK</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>크기</th>
                    <th>위치</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if rack_asset_list %}
                    {% for rack in rack_asset_list %}
                        <tr id="one-asset-id-{{rack.manageNum}}">
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_asset(this)">{{ rack.assetNum }}</a></td>
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ rack.manageNum }}</a></td>
                            <td id="manage-spec-{{rack.manageNum}}">{{ rack.manageSpec }}</td>
                            <td id="size-{{rack.manageNum}}">{{ rack.size }}</td>
                            <td id="location-{{rack.manageNum}}"><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ rack.location }}</a></td>
                            <td><a id="edit-button-{{ rack.manageNum }}" style="cursor:hand" onclick='td_click_edit("rack","{{ rack.manageNum }}")'>수정</a>
                            <a hidden id="save-button-{{ rack.manageNum }}" style="cursor:hand" onclick='td_click_save("rack","{{ rack.manageNum }}")'>저장</a></td>
                            <td><a style="cursor:hand" onclick='td_click_delete_rack("{{ rack.manageNum }}")'>삭제</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}