{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">ASSETS</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>취득일</th>
                    <th>자산명</th>
                    <th>규격</th>
                    <th>취득원가</th>
                    <th>구입처</th>
                    <th>내용연수</th>
                    <th>S</th>
                    <th>N</th>
                    <th>D</th>
                    <th>R</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% if asset_total_list %}
                    {% for asset in asset_total_list %}
                        <tr>
                            <td><a herf="#">{{ asset.assetNum }}</a></td>
                            <td>{{ asset.acquisitionDate }}</td>
                            <td>{{ asset.assetName }}</td>
                            <td>{{ asset.standard }}</td>
                            <td>{{ asset.acquisitionCost }}</td>
                            <td>{{ asset.purchaseLocation }}</td>
                            <td>{{ asset.maintenanceYear }}</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h2 class="page-header">SERVER</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>코어</th>
                    <th>IP</th>
                    <th>ON/OFF</th>
                </tr>
                </thead>
                <tbody>
                {% if server_asset_list %}
                    {% for server in server_asset_list %}
                        <tr>
                            <td><a href="#">{{ server.assetnum }}</a></td>
                            <td><a href="#">{{ server.managenum }}</a></td>
                            <td>{{ server.managespec }}</td>
                            <td><a href="#">{{ server.location }}</a></td>
                            <td>{{ server.core }}</td>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.onoff }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h2 class="page-header">SWITCH</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>IP</th>
                    <th>ON/OFF</th>
                </tr>
                </thead>
                <tbody>
                {% if switch_asset_list %}
                    {% for switch in switch_asset_list %}
                        <tr>
                        <td><a herf="#">{{ switch.assetNum }}</a></td>
                        <td><a herf="#">{{ switch.manageNum }}</a></td>
                        <td>{{ switch.manageSpec }}</td>
                        <td><a herf="#">{{ switch.location }}</a></td>
                        <td>{{ switch.ip }}</td>
                        <td>{{ switch.onOff }}</td>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h2 class="page-header">SERVICES</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>서비스명</th>
                    <th>생성일</th>
                </tr>
                </thead>
                <tbody>
                {% if service_list %}
                    {% for service in service_list %}
                        <tr>
                            <td><a herf="#">{{ service.serviceName }}</a></td>
                            <td>{{ service.createdate }}</td>
                        </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}