{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div id="doughnutChart" class="chart"></div>
            <script>
            var div = document.getElementById('doughnutChart');
            div.addEventListener('click', function() {
                window.location = "./service_detail";
            });
        </script>
        </div>
        <div class="col-md-6">
            <div id="chart_div2" class="StorageBarChart">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart1);
    </script>
{% endblock content %}