{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">SERVER</h2>
        <div class="table-responsive">
            {#        요 아래처럼 html 에 쑤셔박아도 됩니다.#}
            {#            <script type="text/javascript">#}
            {#                function serverDetail(tdObj) {#}
            {#                    var txt = tdObj.text;#}
            {#                    alert("server"+txt);#}
            {#                    location.href="/dbApp/search/?searchText="+txt;#}
            {#                }#}
            {#                function rackDetail(tdObj) {#}
            {#                     var txt = tdObj.text;#}
            {#                    alert("rack"+txt);#}
            {#                    location.href="/dbApp/search/?searchText="+txt;#}
            {#                }#}
            {#                function assetDetail(tdObj) {#}
            {#                     var txt = tdObj.text;#}
            {#                    alert("asset"+txt);#}
            {#                    location.href="/dbApp/search/?searchText="+txt;#}
            {#                }#}
            {#            </script>#}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>코어</th>
                    <th>IP</th>
                    <th>크기</th>
                    <th>ON/OFF</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if server_asset_list %}
                    {% for server in server_asset_list %}
                        <tr id="one-asset-id-{{server.managenum}}">
                            <td><a style="cursor:hand"
                                    onclick="td_click_detail_asset(this)">{{ server.assetnum }}</a></td>
                         <td><a style="cursor:hand" data-toggle="modal" data-target="#"
                                            href="./detail/?data={{ server.managenum }}">{{ server.managenum }}</a>
                            <td id="manage-spec-{{server.managenum}}">{{ server.managespec }}</td>
                            <td id="location-{{server.managenum}}"><a style="cursor:hand"
                                    onclick="td_click_detail_rack(this)">{{ server.location }}</a></td>
                            <td id="core-{{server.managenum}}">{{ server.core }}</td>
                            <td id="ip-{{server.managenum}}">{{ server.ip }}</td>
                            <td id="size-{{server.managenum}}">{{ server.size }}</td>
                            <td id="onoff-{{server.managenum}}">{{ server.onoff }}</td>
                            <td><a id="edit-button-{{ server.managenum }}" style="cursor:hand" onclick='td_click_edit("server","{{ server.managenum }}")'>수정</a>
                            <a hidden id="save-button-{{ server.managenum }}" style="cursor:hand" onclick='td_click_save("server","{{ server.managenum }}")'>저장</a></td>
                            <td><a style="cursor:hand" onclick='td_click_delete_server("{{ server.managenum }}")'>삭제</a></td>

                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

