{% extends 'dbApp/navigation_bar.html' %}
{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock head %}
{% block content %}

    <div class="container">
 <div style="text-align: center;">
<embed width="200" height="40" src="http://www.youtube.com/v/1Nv43UPXvrE?version=2&autoplay=1&loop=1" type="application/x-shockwave-flash" wmode="opaque"></embed>
</div>
        <div class="row">
            <div class="col-md-6">
                <div id="doughnutChart" class="chart"></div>
                <script type="text/javascript">
                    $('#doughnutChart').click(function () {
                        window.location = './service';
                    });
                </script>
            </div>
            <div class="col-md-6">
                <div id="chart_div2" class="StorageBarChart"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        {% if service_list %}
            {% for service in service_list %}
                <div class="row">
                    <div class="col-md-12">{{ service.name }}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="service_graph1_{{ service.id }}" class="chart service-chart" service="{{service.id }}"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="service_graph2_{{ service.id }}" class="chart"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}