{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">SERVER</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>코어</th>
                    <th>IP</th>
                    <th>ON/OFF</th>
                </tr>
                </thead>
                <tbody>
                {% if server_asset_list %}
                    {% for server in server_asset_list %}
                        <tr>
                            <td><a href="#">{{ server.assetnum }}</a></td>
                            <td><a href="#">{{ server.managenum }}</a></td>
                            <td>{{ server.managespec }}</td>
                            <td><a href="#">{{ server.location }}</a></td>
                            <td>{{ server.core }}</td>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.onoff }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

