{% extends 'dbApp/navigation_bar.html' %}

{% block content %}
    <div class="container">
        <h2 class="sub-header">Service Name</h2>
        
        <h3>Server</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>이름</th>
                        <th>위치</th>
                        <th>core</th>
                    </tr>
                </thead>
                <tbody>
                    {% if asset_total_list %} {% for asset in asset_total_list %}
                    <tr>
                        <td>{{ asset.assetNum }}</td>
                        <td>{{ asset.acquisitionDate }}</td>
                        <td>{{ asset.assetName }}</td>
                        <td>{{ asset.standard }}</td>
                        <td>{{ asset.acquisitionCost }}</td>
                        <td>{{ asset.purchaseLocation }}</td>
                        <td>{{ asset.maintenanceYear }}</td>
                    </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
        
        <h3>Storage</h3>
    </div>
{% endblock content %}