{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">Storage</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>현재위치</th>
                    <th>관리스펙</th>
                    <th>규격</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if storage_list %}
                    {% for storage in storage_list %}
                        <tr id="one-asset-id-{{ storage.manageNum }}">
                            <td>{{ storage.assetNum }}</td>
                            <td>{{ storage.manageNum }}</td>
                            <td id="location-{{ storage.manageNum }}">{{ storage.location }}</td>
                            <td id="manage-spec-{{ storage.manageNum }}">{{ storage.manageSpec }}</td>
                            <td id="standard-{{ storage.manageNum }}">{{ storage.standard }}</td>
                            <td><a id="edit-button-{{ storage.manageNum }}" style="cursor:hand"
                                   onclick='td_click_edit("storage","{{ storage.manageNum }}")'>수정</a>
                                <a hidden id="save-button-{{ storage.manageNum }}" style="cursor:hand"
                                   onclick='td_click_save("storage","{{ storage.manageNum }}")'>저장</a></td>
                            <td><a style="cursor:hand"
                                   onclick='td_click_delete_storage("{{ storage.manageNum }}")'>삭제</a>
                            </td>
                        </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}