{% extends 'dbApp/navigation_bar.html' %}

{% block content %}
    <div id="doughnutChart" class="chartDetail">

    </div>

    <div class="serviceDetailContent">
        <h2 class="sub-header">Service Name</h2>

        <h3>Server</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>관리번호</th>
                        <th>이름</th>
                        <th>위치</th>
                        <th>core</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <h3>Storage</h3>
    </div>
    
{% endblock content %}