{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">Storage</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>제품명</th>
                    <th>등록일자</th>
                    <th>디스크 사양</th>
                    <th>형식</th>
                    <th>할당단위크기</th>
                    <th>Vol(TB)</th>
                    <th>가용량</th>
                    <th>할당량(TB)</th>
                    <th>서비스명</th>
                    <th>용도</th>

                </tr>
                </thead>
                <tbody>
                {% if storage_list %}
                    {% for name, storage in storage_list.items %}
                        <tr>
                            <td rowspan="{{ storage.totalCount }}"
                                style="vertical-align : middle">{{ storage.name }}</td>

                            {% for date, enroll in storage.enrollList.items %}
                                <td rowspan="{{ enroll.enrollCount }}"
                                    style="vertical-align : middle">{{ enroll.date }}</td>

                                {% for diskSpec, disk in enroll.diskList.items %}
                                    <td rowspan="{{ disk.diskCount }}"
                                        style="vertical-align : middle">{{ disk.diskSpec }}</td>
                                    <td rowspan="{{ disk.diskCount }}"
                                        style="vertical-align : middle">{{ disk.storageForm }}</td>
                                    <td rowspan="{{ disk.diskCount }}"
                                        style="vertical-align : middle">{{ disk.allocUnitSize }}</td>
                                    <td rowspan="{{ disk.diskCount }}"
                                        style="vertical-align : middle">{{ disk.vol }}</td>
                                    <td rowspan="{{ disk.diskCount }}"
                                        style="vertical-align : middle">{{ disk.remainSize }}</td>

                                    {% for row in disk.list %}
                                        {% if forloop.counter != 1 %}
                                            <tr>
                                        {% endif %}
                                    <td>{{ row.allocSize }}</td>
                                    <td>{{ row.serviceName }}</td>
                                    <td>{{ row.usage }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}

                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}