{% extends 'dbApp/navigation_bar.html' %}
{% load define %}
{% block content %}
    <div class="container">
        <h2 class="page-header">Storage</h2>
        {% if storage_list %}
            {% for name, storage in storage_list.items %}
                <h2 class="sub-header">{{ storage.name }}</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th>등록일자</th>
                        <th>디스크 사양</th>
                        <th>형식</th>
                        <th>할당단위크기</th>
                        <th>Vol(TB)</th>
                        <th>가용량</th>
                        <th>할당량(TB)</th>
                        <th>서비스명</th>
                        <th>용도</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for date, enroll in storage.enrollList.items %}
                        <td rowspan="{{ enroll.enrollCount }}"
                            style="vertical-align : middle">{{ enroll.date }} </td>
                        {% for diskSpec, disk in enroll.diskList.items %}
                            <td rowspan="{{ disk.diskCount }}"
                                style="vertical-align : middle">{{ disk.diskSpec }} </td>
                            <td rowspan="{{ disk.diskCount }}"
                                style="vertical-align : middle">{{ disk.storageForm }} </td>
                            <td rowspan="{{ disk.diskCount }}"
                                style="vertical-align : middle">{{ disk.allocUnitSize }} </td>
                            <td rowspan="{{ disk.diskCount }}" style="vertical-align : middle">{{ disk.vol }} </td>
                            <td rowspan="{{ disk.diskCount }}"
                                style="vertical-align : middle">{{ disk.remainSize }} </td>
                            {% for row in disk.list %}
                                <tr>
                                    <td>{{ row.allocSize }}</td>
                                    <td>{{ row.serviceName }}</td>
                                    <td>{{ row.usage }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}{% endif %}
        </div>
    </div>
{% endblock content %}