{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">Storage</h2>
        <div class="table-responsive">
            {% if storage_list %}
                {% for name, storage in storage_list.items %}
                    <h2 class="subhead">{{ storage.name }}</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>할당단위크기</th>
                            <th>totalSize</th>
                            <th>remainSize</th>
                            <th>diskSpec</th>
                            <th>storageForm</th>
                            <th>allocUnitSize(TB)</th>
                            <th>serviceName</th>
                            <th>usage</th>
                        </tr>
                        </thead>
                        <tbody>
                            <td rowspan="{{ storage.count }}"  style="vertical-align : middle">{{ storage.allocUnitSize }}</td>
                            <td rowspan="{{ storage.count }}" style="vertical-align : middle">{{ storage.totalSize }}</td>
                            <td rowspan="{{ storage.count }}" style="vertical-align : middle">{{ storage.remainSize }}</td>
                            <td rowspan="{{ storage.count }}" style="vertical-align : middle">{{ storage.diskSpec }}</td>
                            <td rowspan="{{ storage.count }}" style="vertical-align : middle">{{ storage.storageForm }}</td>
                        {% for row in storage.list %}
                            <tr>
                                <td>{{ row.allocSize }}</td>
                                <td>{{ row.serviceName }}</td>
                                <td>{{ row.usage }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %} {% endif %}
        </div>
    </div>
{% endblock content %}