<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span
            class="sr-only">close modal</span></button>
    <h4 class="modal-title">관리번호 [ {{ switch_list.manageNum }} ] 의 상세 페이지</h4>
</div>
<div class="modal-body" style="display: inline-block; text-align: left">
    {% if switch_list %}
        <h4>▶ Asset Information</h4>
        <table id="switch_detail_asset" class="table table-striped">
            <thead>
            <tr>
                <th>자산번호</th>
                <th>취득일</th>
                <th>자산명</th>
                <th class="hitachi">규격</th>
                <th>취득원가</th>
                <th>구입처</th>
                <th>내용연수</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ switch_list.assetInfo.assetNum }}</td>
                    <td>{{ switch_list.assetInfo.acquisitionDate }}</td>
                    <td>{{ switch_list.assetInfo.assetName }}</td>
                    <td class="hitachi">{{ switch_list.assetInfo.standard }}</td>
                    <td>{{ switch_list.assetInfo.acquisitionCost }}</td>
                    <td>{{ switch_list.assetInfo.purchaseLocation }}</td>
                    <td>{{ switch_list.assetInfo.maintenanceYear }}</td>
                </tr>
            </tbody>
        </table>
        <h4>▶ Switch Infomation</h4>
        <table id="switch_detail_server" class="table table-striped">
            <thead>
            <tr>
                <th>관리번호</th>
                <th>관리스펙</th>
                <th>위치</th>
                <th>IP</th>
                <th>ON/OFF</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ switch_list.manageNum }}</td>
                    <td>{{ switch_list.manageSpec }}</td>
                    <td><a style="cursor:hand" onclick="td_click_detail_rack(this)">{{ switch_list.location }}</a></td>
                    <td>{{ switch_list.ip }}</td>
                    <td>{{ switch_list.use }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No Data..!!!</p>
    {% endif %}
</div>
