{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">SWITCH</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>IP</th>
                    <th>ON/OFF</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if switch_asset_list %}
                    {% for switch in switch_asset_list %}
                        <tr id="one-asset-id-{{switch.manageNum}}">
                        <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a
                                onclick="td_click_detail_asset(this)">{{ switch.assetNum }}</a></td>
                        <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a
                                onclick="td_click_detail_asset(this)">{{ switch.manageNum }}</a></td>
                        <td>{{ switch.manageSpec }}</td>
                        <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a
                                onclick="td_click_detail_rack(this)">{{ switch.location }}</a></td>
                        <td>{{ switch.ip }}</td>
                        <td>{{ switch.onOff }}</td>
                         <td>수정</td>
                            <td><a onclick='td_click_delete_switch("{{ switch.manageNum }}")'>삭제</a></td>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

