{% extends 'dbApp/navigation_bar.html' %}
{% block content %}
    <div class="container">
        <h2 class="page-header">SWITCH</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>자산번호</th>
                    <th>관리번호</th>
                    <th>관리스펙</th>
                    <th>위치</th>
                    <th>사이즈</th>
                    <th>IP</th>
                    <th>ON/OFF</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if switch_asset_list %}
                    {% for switch in switch_asset_list %}
                        <tr id="one-asset-id-{{switch.manageNum}}">
                        <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a style="cursor:hand"
                                onclick="td_click_detail_asset(this)">{{ switch.assetNum }}</a></td>
                        <td onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a style="cursor:hand"
                                onclick="td_click_detail_switch(this)">{{ switch.manageNum }}</a></td>
                        <td id="manage-spec-{{ switch.manageNum }}">{{ switch.manageSpec }}</td>
                        <td id="location-{{ switch.manageNum }}" onmouseover="changeTrColor(this,'#FFFFFF', '#F4FFFD')"><a style="cursor:hand"
                                onclick="td_click_detail_rack(this)">{{ switch.location }}</a></td>
                        <td id="size-{{ switch.manageNum }}">{{ switch.size }}</td>
                        <td id="ip-{{ switch.manageNum }}">{{ switch.ip }}</td>
                        <td id="onoff-{{ switch.manageNum }}">{{ switch.onOff }}</td>
                         <td><a id="edit-button-{{ switch.manageNum }}" style="cursor:hand"
                                   onclick='td_click_edit("switch","{{ switch.manageNum }}")'>수정</a>
                                <a hidden id="save-button-{{ switch.manageNum }}" style="cursor:hand"
                                   onclick='td_click_save("switch","{{ switch.manageNum }}")'>저장</a></td>
                            <td><a style="cursor:hand" onclick='td_click_delete_switch("{{ switch.manageNum }}")'>삭제</a></td>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

