{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'dbApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dbApp/css/signIn.css' %}">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action="/dbApp/sign_in/" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="userName" class="sr-only">User name</label>

        <input type="email"
               id="id_email"               name="email"
               class="form-control"  value=""
               placeholder="User email" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password"
               id="id_password"               name="password"
               value=""               class="form-control"
               placeholder="Password" required >
          <button class="form-button btn btn-lg btn-primary btn-block" type="submit" value="submit">Sign in</button>
          <button class="btn-link form-signup" onclick="location.href='/dbApp/sign_up/'">Sign up</button>
      </form>
    </div> <!-- /container -->
  </body>
    {% if messages %}
        <script>
          alert('{{ messages }}');
        </script>
    {% endif %}
</html>
