{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'dbApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dbApp/css/signIn.css' %}">
  </head>
  <body>

    <div class="container">
      <form class="form-signin" action="/dbApp/aaaa/" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="userName" class="sr-only">User name</label>

        <input type="text"
               id="inputUserName"
               name="inputUserName"
               class="form-control"  value=""
               placeholder="User name" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password"
               id="inputPassword"
               name="inputPassword"
               value=""
               class="form-control"
               placeholder="Password" required >

        <button class="form-button btn btn-lg btn-primary btn-block" type="submit" value="submit">Sign in</button>

      </form>
    </div> <!-- /container -->
  </body>
</html>
